# pubspec.yaml
name: novelarchitect
description: "Un'app per scrittori per organizzare romanzi"

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  image_picker: ^1.0.7
  firebase_core: ^4.2.1
  firebase_auth: ^6.1.2

    # AGGIORNA ANCHE QUESTE
  provider: ^6.1.1
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true